<header>
<nav>
  <h5 ng-click="main.toggleMenu()">e l <img src="../images/bg2.gif" width="30px" alt="" />f y</h5>
  <ul ng-if="main.menuVisible">
    <li class="logout" ng-if="main.isLoggedIn()"><a ng-click="main.logout()">LOG OUT</a></li>
    <li ng-if="main.isLoggedIn()"><a ng-href="/#/profile/">MY PROFILE</a></li>
  </ul>
</nav>
</header>
<section class="profileEdit">
<h1>Edit Profile</h1>
<form novalidate ng-submit="profileEdit.update()">
  <div class="row">
    <label>Full Name</label>
    <input class="u-full-width" type="text" placeholder="Full Name" ng-model="profileEdit.profile.fullName">
  </div>
  <div class="row">
    <label>Email</label>
    <input class="u-full-width" type="email" placeholder="Email" ng-model="profileEdit.profile.email">
  </div>
  <div class="row">
    <label>Profile Image</label>
    <input class="u-full-width" type="text" placeholder="Profile Image" ng-model="profileEdit.profile.profileImage">
  </div>


  <button>Update</button>

</form>

</section>
