<h1>{{ profile.user.fullName }} is the best</h1>

<p style="color:red;">You have been invited to join a secret santa group called: {{ req.body.groupName}},
If you would like to join please <a href="`http://localhost:8000/#/join/${req.body.groupId}`">click this link</p>
