<div class="container">
  <div class="row">
    <div class="six columns">
      <div class="treeImage">
      <img src="../images/bg3.gif" alt=""/>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="six columns">
        <h1 class="title">e l <img src="../images/bg2.gif" width="100px" alt="" />f y</h1>
        <h4 class="intro"> your Secret Santa insider!</h4>

          <p>Create or join a group to play. <br>Give clues to your Secret Santa to find the perfect 🎁🎁🎁  </p>
        <div class="forms">
          <button class="u-full-width" style="display: block; margin-bottom:10px;" ng-click=""><a ui-sref="register" ui-sref-active="active">register</button>
            <button class="u-full-width" style="display: block; margin-bottom:10px;" ng-click=""><a ui-sref="login" ui-sref-active="active">login</button>
          <button class="u-full-width" style="display: block; margin-bottom:10px;" ng-click="login.authenticate('facebook')">Login with facebook</button>
        </div>
      </div>
    </div>

  </div>
